body {
    box-sizing: border-box;
    font-size: 100%;
    background: url('../img/back-modal.png');
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.conteiner-head {
    max-width: 100%;
    background: #fff;
    padding: 0rem 5rem;
}

.head-block {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    column-gap: 14rem;
}

.logo-img img{
    width: 3.3rem;
    height: 4rem;
}

.menu-conteiner {
    display: flex;
    align-items: center;
}

.menu-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6.25rem;
}

.menu-block li a {
    font-size: 1rem;
    line-height: 3.9rem;
    letter-spacing: 0.6px;
    color: #EECF22;
    transition: color 0.5s;
}

.menu-block li a:hover {
    color: #969696;
}

.content {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.btns-email {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.btns-email a{
    padding: 1rem 1.5rem;
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    color: #fff;
}

.content-letters {
    margin-top: 4.7rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 2rem;
    justify-content: center;
}

.block-1 ul {
    padding: 2rem;
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
}

.block-1 ul li{
    display: flex;
    align-items: center;
    color: #fff;
}

.block-1 ul li a img {
    margin-top: 0.6rem;
    margin-right: 0.5rem;
}

.block-1 ul li a {
    color: #fff;
}

.text-tet {
    color: #fff;
}

.text-leters {
    max-width: 15rem;
}

.block-2, .block-3 {
    border: 1px solid;
    padding: 1rem;
    height: 12.6rem;
    overflow: auto;
    background: #FFFFFF;
}

.block-2 ul li {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    margin-bottom: 1rem;
}

.conteiner-leters{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

.text-leters {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background: #F2E992;
}

.btn-leters {
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    padding: 1rem;
    color: #fff;
    letter-spacing: 0.6px;
}